version: '3.8'

services:
  sqlite:
    image: nouchka/sqlite3:latest
    container_name: sqlite-db
    volumes:
      - ./data:/root/db
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    environment:
      - SQLITE_DATABASE=exchange.db
    restart: unless-stopped